rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null 
        && request.auth.token.email == 'alartqaaschool@gmail.com';
    }

    function isPortalOpen() {
      return get(/databases/$(database)/documents/config/settings).data.registrationOpen == true;
    }

    function isValidStudentForm() {
      let d = request.resource.data;
      return
        d.keys().hasAll([
          'fullName', 'dob', 'gender', 'grade', 'parentName',
          'phone', 'registeredAt'
        ]) &&
        d.fullName is string && d.fullName.size() >= 3 && d.fullName.size() <= 150 &&
        d.parentName is string && d.parentName.size() >= 3 && d.parentName.size() <= 150 &&
        d.phone is string && d.phone.size() >= 10 && d.phone.size() <= 20 &&
        d.gender in ['ذكر', 'أنثى'] &&
        d.grade is string &&
        d.registeredAt == request.time;
    }

    match /students/{studentId} {
      allow read, update, delete: if isAdmin();
      allow create: if isPortalOpen() && isValidStudentForm();
    }

    match /config/settings {
      allow read: if true;
      allow write: if isAdmin();
      allow create: if true;
    }

    match /config/stats {
      allow read: if true;
      allow write: if true;
    }

    match /config/registrationCounter {
      allow read: if true;
      allow write: if isAdmin();
      allow create: if true;
    }

    match /config/phoneRegistry/{phone} {
      allow read: if true;
      allow write: if true;
    }

    match /logs/{logId} {
      allow read, delete: if isAdmin();
      allow create: if isAdmin();
      allow update: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
